/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./yacht.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #FBFBFB;
  background-color: #0E1823;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container {
  width: 100px;
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
} 
   
    @media screen and (min-width: 768px) {
      .container {
        max-width: 768px;
      }
    }
  
    @media screen and (min-width: 1280px) {
      .container {
        max-width: 1280px;
        padding: 0 15px;
      }
    }
  

  .main-phrase {
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.form_yacht {
  width: 100px;
}
.form-field {
width: 335px;
height: 288px;
display: inline-block;
gap: 18px;
}
.input_line {
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 12px;
  background: #FBFBFB80;
  border: 1px; 
  background: transparent;
  line-height: 14px;
  padding-bottom: 18px;
}
.button-style {
  padding-top: 10px;
  display: flex;
  background: #1B414B;
gap: 10px;
border-radius: 15px;
margin-top: 40px;
}
 


  .yacht-picture {
border-radius: 24px;
width: 335px;
height: 412px



  }